.body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  background-color: yellowgreen;
  opacity: 0, 8;
  position: fixed;
  width: 100%;
  top: 0;
  color: #fff;
}
.navbar a {
  padding: 20px;
  margin: 0 20px;
}
.navbar ul {
  display: flex;
}
.navbar i {
  font-weight: 400;
}

.links a {
  text-decoration: none;
}
.links li {
  list-style-type: none;
}

/* main */


